/*===============================================
  admin form css
================================================*/

.from_one1{
    color:#000 !important;
    font-size: !important;
	padding-bottom:10px !important;
}
.image_form1{
	padding: 10px 10px !important;
}
.text_area_desc{
	margin: 10px 0px !important;
}
.dropzone{
	min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
    height: 250px;
}
.dropzone h3{
	font-size: 15px !important;
}
#success_message{ display: none;}

.help-block{color: red ; font-size: 12px;}

.bootstrap-tagsinput .tag{
	background: #ff8ea2 !important;
	padding: 5px 5px;
	margin-bottom: 1px;
    display: block;
    float: left;
}
.bs-example{
	border: 1px solid #E3E3E3;
    border-radius: 40px;
}
.bootstrap-tagsinput{
	margin-left: 15px !important;
}

/********status button***********/
/*
.dropbtn {
    background-color: #4bb5ff;
    color: white;
    padding: 10px 20px !important;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px !important;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #4bb5ff;
}*/

/*.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:40px !important;
    background-color: #f1f1f1;
    min-width: 140px;
    padding: 20px 10px !important;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}*/
.deactive{
	color: #fff !important;
	font-size: 14px !important;
}
.active{
	font-size: 14px !important;
}
.edit_page{
	color: #fff !important;
	font-size: 14px !important;
}
.view_profile{
    color: #fff !important;
    font-size: 14px !important;
}
.deactive1{
    color: #fff !important;
    font-size: 14px !important;
}
.active1{
    color: #fff !important;
    font-size: 14px !important;
}
.edit_page1{
    color: #fff !important;
    font-size: 14px !important;
}
.view_profile1{
	color: #fff !important;
	font-size: 14px !important;
}

/*.dropdown a:hover {background-color: #FF3636;}*/

.show {
    display: block;
}


/********status button***********/

.document_staff{
	padding-left: 38px;
    margin-right: 22px;
}
ul{
    margin: 0px;
    padding: 0px;

}
ul li{
    display: block;
}
.radio1{
    width: 25px !important;
    height: 25px !important;
}

/**********search fields*/

.row_seach_field{
    margin-bottom: 20px !important;
    border: 1px solid #eceeef !important;
    height: 100px !important;
}
.row_seach_field1{
    margin-bottom: 20px !important;
    border: 1px solid #eceeef !important;
    height: 100% !important;
}
.student_details_search{
    margin-bottom: 10px !important;
    border: 1px solid #eceeef !important;
}
.input_gruop1{
    margin-left: -32px !important;
}
.input_gruop7{
    width: 124% !important;
}
.input_gruop10{
    margin-left: -12px !important;
    width: 124% !important;
}
.input_gruop9{
    margin-left: -24px !important;
    width: 124% !important;
}
.input_gruop8{
    margin-top: 28px !important;
    width: 100% !important;
}
.input_gruop3{
    margin-left: -22px !important;
}
.input_gruop4{
    margin-left: -76px !important;
}
.input_gruop5{
    margin-left: -134px !important;
}
.input_gruop6{
    margin-left: -190px !important;
}
.input_gruop2{
    margin-left: -45px !important;
}
.search_button{
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button1{
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button2{
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button3{
    margin-left: 50px !important;
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button4{
    margin-left: -50px !important;
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button5{
    margin: 20px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button6{
    margin: 26px 0px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button7{
    margin: 10px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button8{
    margin: 10px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button9{
    margin: 20px -38px!important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button10{
    margin: 20px -13px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.search_button11{
    margin: 20px 0px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}
.search_button12{
    margin: 20px -16px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}
.search_button13{
    margin: 20px -45px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}
.search_button14{
    margin: 20px -45px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}
.search_button15{
    margin: 20px -67px !important;
    font-size: 14px !important;
    padding: 12px 10px !important;
}
.search_button16{
    margin: 20px !important;
    font-size: 14px !important;
    padding: 12px 20px !important;
}
.select_form1{
    z-index: 999999 !important;
}

/*********check box*********/

.checkbox1{
    width: 20px !important;
    height: 20px !important;
    margin-left: 50px !important;
}
.checkbox2{
    width: 20px !important;
    height: 20px !important;
    margin-top: 20px !important;
}
.select_check{
    position: relative;
    top: -6px !important;
}
.Enroll{
    width: 140% !important;
}
.Name_class_level{
   width: 140% !important;
}
.class_section{
    width: 140% !important;
}
.search_school_level{
    margin: 20px 10px !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.t_head_table{
    border: 1px solid #eceeef !important;
}
.filter_class_section{
    margin-top: 22px !important;
}
.temp_view_button{
    color: #ccc !important;
}
.temp_view_button a{
    color: #fff !important;
    text-decoration: none !important;
}
.nav-tabs>.nav-item>.nav-link {
    color: red;
    color: #888;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 15px;
}
.active2{
    color: #424242 !important;
    font-size: 12px !important;
}
.active2:hover{
    color: #fff !important;
    background-color: #6572b8 !important;
    transition-duration: 2s;
    font-size: 12px !important;
}
.search_form1{
    margin-bottom: -30px !important;
}
.list_dropdown1{
    z-index: 999999 !important;
}
.dairy_remarks_date{
    padding: 10px 20px !important;
}
.check_box1{
    margin-top: 30px !important;
}
.row_thead{
    border:1px solid #eceeef !important;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    vertical-align: -5px !important;
    padding-left: -34px;
    text-align: left;
}
.staff_attendence1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 5px;
}
.staff_attendence1 span{
    padding-left: 26px;
    font-size: 14px !important;
    font-weight: 800px !important;
}
.staff_attendence2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin-bottom: 5px;
}
.staff_attendence2 span{
    padding-left: 26px;
    font-size: 14px !important;
    font-weight: 800px !important;
}
.custom_btn{
    margin: 0px !important;
    padding: 5px 15px;
    z-index: 0 !important;
}
/*.dropdown{
    z-index: 0 !important;
}
*/
.show{
    z-index: 9999999 !important; 
}
.modal-backdrop.show{
    z-index: 10000 !important; 
}
.dropdown1{
    z-index: 9999999 !important;
}
.theme-blush .btn-primary{
    margin-top: 0px !important;
}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}.dropdown-menu.pull-right{right:0;left:auto}.dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{color:#262626;text-decoration:none;background-color:#f5f5f5}.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover{color:#fff;text-decoration:none;background-color:#337ab7;outline:0}.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover{color:#777}.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover{text-decoration:none;cursor:not-allowed;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.open>.dropdown-menu{display:block}.open>a{outline:0}.dropdown-menu-right{right:0;left:auto}.dropdown-menu-left{right:auto;left:0}.dropdown-header{display:block;padding:3px 20px;font-size:12px;line-height:1.42857143;color:#777;white-space:nowrap}.dropdown-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:990}.pull-right>.dropdown-menu{right:0;left:auto}.dropup .caret,.navbar-fixed-bottom .dropdown .caret{content:"";border-top:0;border-bottom:4px dashed;border-bottom:4px solid\9}.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:2px;}@media (min-width:768px){.navbar-right .dropdown-menu{right:0;left:auto}.navbar-right .dropdown-menu-left{right:auto;left:0}}.btn-group,.btn-group-vertical{position:relative;display:inline-block;vertical-align:middle}

.sub-menu{
    margin-left: 20px !important;
}
.sidebar .menu .list .ml-menu li a,.sidebar .menu .list a{
    padding-top: 8px !important;
    padding-bottom: 5px !important;
    font-size: 13px;
}
.pagination .page-item.active>.page-link, .pagination .page-item.active>.page-link:focus, .pagination .page-item.active>.page-link:hover{
    z-index : 0 !important;
}

/*JQuery pop css @Pratyush 1 Aug 2018*/
.blocker{
    z-index: 999 !important;
}
.modal a.close-modal{
    top: 1.5px !important;
    right: 3.5px !important;
    width: 21px !important;
    height: 24px !important;
}
.modal #rank::placeholder{
    color: #A9A9A9;
    font-size: 13px;
}
.modal .form_control1{
    border: 1px solid #A9A9A9 !important;
}

/*JQuery pop css @Pratyush 1 Aug 2018*/
.profile_detail_1{
    padding:12px 0px;
    position:relative;
    top:-8px;
}
.profile_detail_icon_1{
  position: absolute;
  left: 20px;
  font-size: 18px;
}
.profile_detail_bold_1{
  float: left;
  padding-left: 40px;
}
.profile_detail_span_1{
  font-weight:500;
  float: left;
  padding-left: 5px;
}
.personal_info_1{
    padding:2px 0px !important;
}
.personal_info_icon_1{
    font-size: 18px;
}
.personal_info_bold_1{
    float: left;
    padding-left: 40px;
}
.personal_info_span_1{
    font-weight:500;
    float: left;
    padding-left: 5px;

}
.mycustloadingBg{

    position: fixed;
    top: 35%;
    left: 50%;
    height: 50px;
    width: 50px;
    z-index: 9999999999!important;
    font-size: 50px;
    color: #fff;
}
.mycustloading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9999999999!important;
    display: none;
}
.nav-tabs>.nav-item>.nav-link.active {
    font-size:12px !important;
}
.red{
    background: red !important;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef !important;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}
.modal-content .modal-header button{
    top: 15px !important;
}
/*For Class name buttom padding @Pratyush 14 Aug 2018*/
.classname_padding{
    padding-bottom: 10px !important;
    display: inline-block; 
}
/*For Add book page checkbox padding @Pratyush 14 Aug 2018*/
.custchechboxpad{
    padding-top: 26px !important;
}

/*For Add leave application page view document top padding @Pratyush 17 Aug 2018*/
.leavedocumentpadding{
    padding-top: 23px !important;
}
/*Issue Book Date popup @Pratyush 22 Aug 2018*/
.book-issue-button {
    padding-top: 20px !important;
}
#issue-book{
    max-width: 677px !important;
}
#renew-book{
    max-width: 677px !important;
}
#update-book{
    max-width: 677px !important;
}

/*===============================================
  admin form css 31/8/2018
================================================*/


.table tr th{
    font-weight: 600;
}
.material_icons1 {
    margin-top: 10px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
}
#min_height_1{
    height: 500px !important;
}
.fa-plus-circle, .fa-minus-circle{
    font-size: 18px;
}
.btn.btn-icon{
    height: none !important;
    min-width: none !important;
    padding: 5px;
}
.btn.btn-icon1{
    height: 38px !important;
    min-width: 34px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    width: 40px;
    padding: 10px 10px;
}
.card .body .table td{
    padding: 10px 0px !important;
}
.card .body .table tr .action1{
    width: 130px !important;
}
.selectlist11{
    z-index: inherit !important;
}
.table tr th, table tr td{
    white-space: normal !important;
}
.table th{
    padding: 14px 0px !important;
    border-top: none !important;
    border-bottom: 2px solid #ddd !important;
}
.dropdown {
    padding: 0px 4px !important;
    float: left !important;
}
.dropdown-toggle::after {
    display: inline-block !important;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}
p.red{
    background: none !important;
    color: red !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    line-height: 14px !important;
}
p.green{
    background: none !important;
    color: green !important;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    line-height: 14px !important;
}
.card .body{
}
.card .header{
    padding-bottom: 10px !important;
}
.m-bottom-0{
    margin-bottom: 0px !important; 
}
.select2-container{
    width: 100% !important;
}
.form-control{
    color: #000 !important;
    font-size: 14px !important;
    border-radius: 4px !important;
}
.input-group-addon{
    border-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
span.red-text{
    color: red !important; 
}
.state-error{
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
}
a.btn.btn-raised{
    margin-top: 0px !important;
}
.btn, .navbar .navbar-nav>a.btn{
    font-size: 14px !important;
}
.card .header h2{
    font-size: 16px !important;
}
.card .header h2 small{
    font-size: 14px !important;
}
.block-header .breadcrumb{
    border-radius: 5px !important;
}
.breadcrumb{
    padding: 8px 10px !important;
}
.breadcrumb-item.active{
    color: #fff;
    text-decoration: underline;
}
.has-error .form-control{
    border-color: red;
}
.has-success .form-control{
    border-color: green;
}
.form-group.has-error, .form-group.has-danger{
    margin-bottom: 0px !important;
}
.alert.alert-success{
    color: #28623c !important;
    background-color: #dbf2e3 !important;
    border-color: #cdedd8 !important;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}
.alert .close{
    float: right;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.close:focus, .close:hover{
    color: #000 !important;
}
.alert.alert-danger{
    color: #813838 !important;
    background-color: #fee2e1 !important;
    border-color: #fdd6d6 !important;
}
.form-group .form-control+.input-group-addon, .input-group .form-control+.input-group-addon{
    padding: 10px 8px 10px 0 !important;
}
button#clearBtn{
    margin-top: 0px !important;
    margin-left: 15px !important;
}
.block-header h2{
    margin-top: 8px !important;
}
.theme-blush .btn-primary:active, .theme-blush .btn-primary:hover, .theme-blush .btn-primary:focus{
    background: #F8A31B !important;
}
.block-header .breadcrumb{
    width: 70% !important;
}
.btn:hover .btn-icon1{
    background: #F8A31B !important;
}
.btn, .navbar .navbar-nav>a.btn{
    border-radius: 5px !important;
}
label{
    margin-bottom: 0px !important;
}
.has-error .select2-container--default .select2-selection--single{
    border-color: red !important;
}
.has-success .select2-container--default .select2-selection--single{
    border-color: green !important;
}
.has-success:after, .has-danger:after{
    display: none;
}